# copied template from https://github.com/github/gitignore/blob/master/CodeIgniter.gitignore
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

# ignore Mac OS X specific files
.DS_Store