#helper{
        border: solid black 1px;
        border-radius: 5px;
        height: 360px;
    }
    .active{
  width: auto;
  height: 350px;
  max-height: 350px;

    }
    .font_border{
        color:white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .list{
        height: 170px;
        width: 160px;
        position: relative;
        padding: 5px 5px 5px 5px;
        /*border: 1px solid black;*/
        margin: 10px 5px 10px 0px;
    }
    .image{
        width:100%;
        height: 100%;
    }
    .overlay{
        position: absolute;
        top: 130px;
        left:50px;
        width: 100%;
    }
    p span{
       color: white;
       font: bold 12px/25px Helvetica, Sans-Serif; 
       letter-spacing: -1px;  
       background: rgb(0, 0, 0);
       background: rgba(0, 0, 0, 0.7);
       padding: 10px;       
    }
    #categories{
        border-bottom: 2px solid lightgrey;
        margin-bottom: 20px;
    }
    .category{
        background: lightgrey;
        border: grey 1px solid;
    }
    .carousel_div{
        padding: 5px 5px 5px 5px; 
        border: 1px solid black;
        margin-bottom: 30px;
    }
    #products_header{
        border-bottom: 2px solid lightgrey;
        padding-bottom: 2px;
        margin-bottom: 20px;
    }

    .item img {
        height: 300px;
        width: 100%;
    }