div.img-div {
    width: auto;
}

img.product-img {
    height: 70px;
    width: 70px;
    text-align: center;
    display: inline-block;
    border: 1px solid silver;
    vertical-align: top;
    overflow: hidden;
}

#product-table {
    border: 1px solid silver;
    border-collapse: collapse;
    text-align: center;
}

